http {
    upstream user {
        server user:3000;
    }
    upstream product {
        server chat:3001;
    }
    upstream order {
        server notification:3002;
    }

    server {
        listen 85;

        location /user/ {
            proxy_pass http://user/;
        }

        location /product/ {
            proxy_pass http://product/;
        }

        location /notification/ {
            proxy_pass http://order/;
        }
    }
}
events {}
